
body {
  margin: 0;
  padding: 8px 8px 2px 8px;
  font-family: 'Noto Sans JP', sans-serif;
}

#app {
  height: 96vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff3c00;
  margin: auto;
}

.window-controls {
  /* 100vh - 96vh = 4vh, so the controls are invisible in ios fake fullscreen */
  margin-bottom: 4vh;
}